/target/
/src/main/java/config/ConfigSQL.java
/resources/csv/*
Igrida/job.sh

Igrida/oardel.sh

Igrida/param-file.txt

resources/5000

resources/6000 - copie

resources/6000

*.csv

*.png

*.txt

*.dat

*.dat
